<!--The content below is only a placeholder and can be replaced.-->
<div> 
  <a routerLink="First" >Login </a>
  <a routerLink="Register"> Sign up </a>
<!-- 
  <h1> Welcome to my project </h1>
  <p> This is the first para </p>
  <p> This is the second line </p>
  {{title}}
  
  One way binding-->
  <!-- Enter your name:
  <input type=text value={{ename}} />

  {{ename}}
 two way binding-->
  <!-- Enter your Company Name:
  <input type=text [(ngModel)]="cname"/>

  {{cname}} --> --> -->

  <!-- <app-laptop></app-laptop> -->
   <!-- <app-user></app-user> -->
   <!-- <app-employeelist></app-employeelist> -->
   <app-empadd></app-empadd>
  <router-outlet></router-outlet> 

</div>
